/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[RowVersion]
      ,[Create_DTS]
      ,[Update_DTS]
      ,[Individual_ID]
	  ,DATALENGTH([Genome]) AS [Genome Length]
	  ,LEN(CAST([Genome] AS VARCHAR(MAX))) - LEN(REPLACE(CAST([Genome] AS VARCHAR(MAX)), '}', '')) AS [Genome Points]
      ,[Genome]
      ,[Parent_1]
      ,[Parent_2]
      ,[Parent_1_1]
      ,[Parent_1_2]
      ,[Parent_2_1]
      ,[Parent_2_2]
      ,[Parent_1_1_1]
      ,[Parent_1_1_2]
      ,[Parent_1_2_1]
      ,[Parent_1_2_2]
      ,[Parent_2_1_1]
      ,[Parent_2_1_2]
      ,[Parent_2_2_1]
      ,[Parent_2_2_2]
  FROM [SOS].[dbo].[Individuals]
  order by DATALENGTH([Genome]) desc
