/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
--      ,[RowVersion]
--      ,[Create_DTS]
      ,[Update_DTS]
      ,[Generation]
--      ,[Group_TrainingScore]
      ,[Group_TestScore]
--      ,[EligibleParents_TrainingScore]
      ,[EligibleParents_TestScore]
--      ,[TestCase_Best_Individuals_TrainingScore]
      ,[TestCase_Best_leIndividuals_TestScore]
--      ,[BestIndividual_TrainingScore]
      ,[BestIndividual_TestScore]
      ,[Training_Sscore_of_Eelite_Individual_with_Maximum_Number_Test_Cases]
      ,[Test_Sscore_of_Eelite_Individual_with_Maximum_Number_Test_Cases]
      ,[Elite_Size]
      ,[Elite_TestCases]
      ,[Total_TestCases]
      ,[Opening_Balance]
      ,[Population_Size]
      ,[Alternation_Rate]
      ,[Uniform_Mutation_Rate]
  FROM [SOS].[dbo].[ProgressLog]
  order by [Update_DTS] desc
